td.d_summary{
    font-size: 80%;
    font-style: italic;
    max-width: 16em;
}

div.d_summary{
    padding: 0.15rem .25rem;
    margin-bottom: 0;
    color: #0c5460;
    background-color: #d1ecf1;
    border: 1px solid;
    border-radius: 3px;
    border-color: #bee5eb;
}
