<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_software">
        <field name="name">Software</field>
        <field name="parent_id" ref="dec.menu_dec"/>
    </record>

    <record model="ir.ui.menu" id="menu_software_licensing">
        <field name="name">Licensing</field>
        <field name="parent_id" ref="menu_software"/>
    </record>

    <record model="ir.ui.menu" id="menu_software_license">
        <field name="name">License</field>
        <field name="sequence" eval="10"/>
        <field name="action" ref="act_window_software_license"/>
        <field name="parent_id" ref="menu_software_licensing"/>
    </record>

    <record model="ir.ui.menu" id="menu_software_license_application">
        <field name="name">Application</field>
        <field name="sequence" eval="20"/>
        <field name="action" ref="act_window_software_license_application"/>
        <field name="parent_id" ref="menu_software_licensing"/>
    </record>

</odoo>
