<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_software">
        <field name="name">Software</field>
        <field name="sequence" eval="110" />
        <field name="parent_id" eval="False"/>
        <field name="groups_id" eval="[(6,0, [ref('software.group_software_user')])]"/>
        <field name="web_icon">software,static/description/icon.png</field>
    </record>

</odoo>
