<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_contracts_and_projects">
        <field name="name">Contracts &amp; Projects</field>
        <field name="sequence" eval="5"/>
        <field name="parent_id" ref="project.menu_main_pm"/>
    </record>

    <record model="ir.ui.menu" id="project.menu_project_management">
        <field name="sequence" eval="10"/>
    </record>

    <record model="ir.ui.menu" id="project.menu_projects">
        <field name="parent_id" ref="menu_contracts_and_projects"/>
        <field name="sequence" eval="20"/>
    </record>

    <record model="ir.ui.menu" id="menu_contracts">
        <field name="name">Contracts</field>
        <field name="sequence" eval="10"/>
        <field name="action" ref="open_view_contract_all"/>
        <field name="parent_id" ref="menu_contracts_and_projects"/>
    </record>

</odoo>