div .d_autofill {
    padding: 5px 0 0 5px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #bee5eb;
    font-size: x-small;

    .o_td_label {
        .o_form_label {
            font-size: x-small;
        }
    }
}