<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_software_application_launcher">
        <field name="name">Launchers</field>
        <field name="sequence" eval="18"/>
        <field name="action" ref="act_window_software_application_launcher"/>
        <field name="parent_id" ref="software_application.menu_software_asset"/>
    </record>

</odoo>
