<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <record model="ir.ui.menu" id="menu_dashboard">
        <field name="name">Dashboard</field>
        <field name="sequence" eval="1" />
        <field name="action" ref="project_type_dashboard_action" />
        <field name="parent_id" ref="project.menu_main_pm" />
    </record>

</odoo>
