<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_product_template_as_product">
        <field name="name">Products</field>
        <field name="sequence" eval="5"/>
        <field name="action" ref="act_window_product_template_as_product"/>
        <field name="parent_id" ref="product_reference_management.menu_product_reference"/>
    </record>

    <record model="ir.ui.menu" id="menu_product_template_as_service">
        <field name="name">Services</field>
        <field name="sequence" eval="7"/>
        <field name="action" ref="act_window_product_template_as_service"/>
        <field name="parent_id" ref="product_reference_management.menu_product_reference"/>
    </record>

    <record model="ir.ui.menu" id="menu_ref_reference">
        <field name="name">References</field>
        <field name="sequence" eval="10"/>
        <field name="action" ref="act_window_ref_reference"/>
        <field name="parent_id" ref="product_reference_management.menu_reference"/>
    </record>

    <record model="ir.ui.menu" id="menu_product_template_as_refmanager_product">
        <field name="name">Products</field>
        <field name="sequence" eval="20"/>
        <field name="action" ref="act_window_product_template_as_refmanager_product"/>
        <field name="parent_id" ref="product_reference_management.menu_reference"/>
    </record>

    <record model="ir.ui.menu" id="menu_ref_category">
        <field name="name">Categories</field>
        <field name="sequence" eval="30"/>
        <field name="action" ref="act_window_ref_category"/>
        <field name="parent_id" ref="product_reference_management.menu_configuration"/>
    </record>

    <record model="ir.ui.menu" id="menu_ref_property">
        <field name="name">Category properties</field>
        <field name="sequence" eval="40"/>
        <field name="action" ref="act_window_ref_property"/>
        <field name="parent_id" ref="product_reference_management.menu_configuration"/>
    </record>

    <record model="ir.ui.menu" id="menu_wizard">
        <field name="name">Wizards</field>
        <field name="sequence" eval="90"/>
        <field name="parent_id" ref="product_reference_management.menu_product_reference_manager"/>
    </record>
    
    <record model="ir.ui.menu" id="menu_tagging_tags">
        <field name="name">Tags</field>
        <field name="sequence" eval="10"/>
        <field name="action" ref="tagging.act_open_tags_tree"/>
        <field name="parent_id" ref="product_reference_management.menu_configuration"/>
        <field name="groups_id" eval="[(6,0, [ref('base.group_user')])]"/>
    </record>

    <menuitem 
        action="act_window_change_product_state_by_category" 
        id="menu_change_product_state_by_category" 
        groups="base.group_no_one"
        parent="menu_wizard" 
        sequence="10">
    </menuitem>

</odoo>
