.o_kanban_view {
    .o_kanban_record {
        .o_kanban_record_top {
            .oe_kanban_top_left,
            .oe_kanban_top_right {
                display: flex;
                align-items: center;
                min-height: 20px;
            }

            .oe_kanban_top_left {
                flex: 1 1 auto;

                > * {
                    margin-right: 6px;
                    line-height: 1;
                }
            }

            .oe_kanban_top_right {
                flex: 0 1 auto;
            }
        }
    }
}

.kanban_progress {
    width: 100%;
    display: inline-block;
    font-size: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.kanban_progress .kanban_progress_bar {
    width: 85%;
    display: inline-block;
    margin-bottom: 0px;
    height: 10px;
}

.kanban_progress .kanban_progress_bar_done {
    max-width: 100%;
    min-width: 3%;
    height: 100%;
}

.kanban_progress .kanban_completion {
    width: 10%;
    display: inline-block;
    height: 13px;
}
