<?xml version="1.0"?>
<odoo>

    <menuitem 
        id="res_partner_training_category" 
        name="Educational Trainings" 
        parent="contacts.res_partner_menu_config" 
        sequence="4"
    />
    
    <menuitem 
        id="res_partner_training_menu" 
        name="Trainings" 
        action="res_partner_training_action" 
        parent="res_partner_training_category" 
        sequence="10"
    />

    <menuitem 
        id="res_partner_training_specialty_menu" 
        name="Specialties" 
        action="res_partner_training_specialty_action" 
        parent="res_partner_training_category" 
        groups="base.group_erp_manager"
        sequence="20"
    />

</odoo>
