<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_pricelist_items">
        <field name="name">Pricelist items</field>
        <field name="sequence" eval="4"/>
        <field name="action" ref="product_pricelist_analysis.act_window_product_pricelist_item"/>
        <field name="parent_id" ref="sale.product_menu_catalog"/>
        <field name="groups_id" eval="[(6,0, [ref('product.group_sale_pricelist')])]"/>
    </record>

</odoo>