<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_ref_pack">
        <field name="name">Packs</field>
        <field name="sequence" eval="50"/>
        <field name="action" ref="act_window_ref_pack"/>
        <field name="parent_id" ref="product_reference_management.menu_product_reference_manager"/>
    </record>

</odoo>
