.d_view_name {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 75%;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.note_table {
    width: 100%;

    th {
        background-color: white;
        border-bottom: 2px solid #dee2e6;
        font-weight: bold !important;
    }

    tr.even {
        background-color: #ddd;
    }

    tr.odd {
        background-color: #e8e8e8;

    }

}

pre {
    border-radius: 4px;
    display: block;
    padding: 20.5px !important;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: normal !important;
    word-wrap: break-word;
    background-color: #0a121b !important;
    border: 1px solid rgb(168, 157, 141);
    color: rgb(200, 255, 255) !important
}