<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_ref_log">
        <field name="name">Logs</field>
        <field name="sequence" eval="60"/>
        <field name="action" ref="act_window_ref_log"/>
        <field name="parent_id" ref="product_reference_management.menu_product_reference_manager"/>
    </record>

</odoo>
