<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record model="ir.ui.menu" id="menu_price_management">
        <field name="name">Prices</field>
        <field name="sequence" eval="20"/>
        <field name="parent_id" ref="dec.menu_dec"/>
    </record>

    <record model="ir.ui.menu" id="menu_pricelist_items">
        <field name="name">Pricelist items</field>
        <field name="sequence" eval="10"/>
        <field name="action" ref="act_window_product_pricelist_item"/>
        <field name="parent_id" ref="menu_price_management"/>
    </record>

</odoo>