td.d_mig_status {
    width: 64px !important;
    max-width: 64px !important;
    font-size: x-small;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #d3d3d3;
}