.d_sheet_parent {
    $sheet-max-width: 1140px;
    $sheet-min-width: 650px;
    $sheet-padding: 16px;

    min-width: $sheet-min-width;
    max-width: $sheet-max-width;
    padding: $sheet-padding;
    margin: 0 auto;

    > .o_form_sheet {
        max-width: 100% !important;
        min-height: 330px;
        padding: $sheet-padding;
        background: white;
    }
}
