.o_FormRenderer_chatterContainer {
    padding: revert;

    .o_Chatter {
        .o_Chatter_topbar {
            box-shadow: 0 10px 20px -20px black;
        }

        .o_Message {
            padding: 2px 8px 12px 8px;

            &.o_Message.o-not-discussion {
                background-color: revert;
                border-bottom: revert;
            }

            &.o_Message.o-discussion {
                .o_Message_content {
                    padding: 1rem !important;
                    background-color: rgba(23, 162, 184, 0.1);
                    border-top-right-radius: 1rem !important;
                    border-bottom-right-radius: 1rem !important;
                    border-bottom-left-radius: 1rem !important;
                    border: 1px rgba(23, 162, 184, 0.2) solid;
                }
            }
        }
    }
}
