/* Copyright 2026 DEC
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// Global sans-serif fonts stack
$o-system-fonts: (
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    Ubuntu,
    "Noto Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
) !default;

// Colors
// This is BS default
$o-white: #ffffff !default;
$o-black: #000000 !default;

$o-community-color: #714b67 !default;
$o-enterprise-color: #714b67 !default;
$o-enterprise-action-color: #017e84 !default;

$o-brand-odoo: $o-community-color !default;
$o-brand-primary: $o-community-color !default;

$o-action: $o-enterprise-action-color !default;

// == Buttons
// Map of customized values for each button. If a button's design is defined
// here, the relative values will take priority over default BS ones.
// Notice: each map's entry is passed directly to the Bootstrap mixin, meaning
// that all states must be defined, there can't be omissions.
$o-btns-bs-override: () !default;
$o-btns-bs-override: map-merge(
    (
        "primary": (
            background: $o-enterprise-action-color,
            border: $o-brand-primary,
            color: $o-white,

            hover-background: darken($o-enterprise-action-color, 10%),
            hover-border: darken($o-brand-primary, 20%),
            hover-color: $o-white,

            active-background: darken($o-enterprise-action-color, 20%),
            active-border: darken($o-brand-primary, 20%),
            active-color: $o-white,
        ),
    ),
    $o-btns-bs-override
);
