// Use same colors than the message bubble
// odoo/addons/mail/static/src/core/common/message.scss:101

.o-mail-Chatter-top:has(.o-mail-Chatter-sendMessage.active) {
    .o-mail-Composer {
        background-color: mix($o-view-background-color, $success, 87.5%) !important;
        border-color: darken(
            mix($o-view-background-color, $success, 87.5%),
            10%
        ) !important;
        border-radius: 10px;
        padding: 10px;
    }
}
