.task_progress {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    margin-bottom: 5px;

    .progress_container {
        display: flex;
    }

    .task_progress_bar {
        width: 65%;
        display: flex;
        margin-bottom: 0px;
        height: 15px;
    }

    .task_progress_bar_done {
        max-width: 100%;
        min-width: 3%;
    }

    .task_completion {
        display: inline-block;
        margin-left: 5px;
        font-weight: bold;
    }

    .progress-bar {
        height: 100%;
    }
}

.kanban_subtasks {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;

    ul {
        padding-left: 25px;
        margin-bottom: 0;

        .count_progress_item {
            .number {
                font-weight: bold;
            }
        }
    }
}
